body {
    margin: auto;
    text-align: center;
}
h1 {
    color: rgb(92, 17, 17);
    font-size: 75px;
}
p {
    color: rgb(92, 17, 17);
    font-size: larger;
}
div {
    background-color: rgba(96, 161, 182, 0.616);
    border: 2px solid rgb(92, 17, 17);
    border-radius: 4px;
    width: 500px;
    margin: auto;
    margin-top: 20%;
}