body {
    background-image: linear-gradient(145deg,rgb(10, 17, 101), rgb(212, 246, 209));
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    text-align: center;
}
h1 {
    font-size: 80px;
    font-weight: lighter;
}
p {
    font-size: 35px;
}
.lingo{
    font-size: 25px;
}
h1, p {
    margin: auto;
    font-family: century gothic;
    font-style: normal;
    background: linear-gradient(145deg, rgb(254, 251, 247), rgb(120, 187, 241), rgb(238, 243, 244));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.75s;
}
h1:hover {
    font-size: 85px;
    background: linear-gradient(145deg, rgb(154, 223, 248), rgb(254, 251, 247), rgb(247, 191, 94));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
p:hover {
    font-size: 38px;
    background: linear-gradient(145deg, rgb(154, 223, 248), rgb(254, 251, 247), rgb(247, 191, 94));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nombre {
   
    width: 750px;
    margin: auto;
    margin-top: 15%;
}
button {
    background-color: transparent;
    color: rgb(189, 235, 255);
    font-size: larger;
    font-family: century gothic;
    border: 2px solid rgb(87, 212, 246);
    border-radius: 12px;
}
button:hover {
    font-size: x-large;
    border: 2px solid rgb(249, 127, 253);
    border-radius: 1px;
    transition-duration: 100ms;
}
.info {
    display: flex;
    justify-content:center;
}
